section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.square{
  border-radius: 3px;
  margin: 5px;
  width: 70px;
  height: 70px;
  background-color: red;
}

#red{
  background-color: red;
}
#green{
  background-color: green;
}
#blue{
  background-color: blue;
}
